{% extends "base.html" %}
{% block main %}
<form class="form-horizontal" action="{% url register %}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group fieldWrapper">
        {{ form.username.errors }}
        <label class="control-label" for="id_username">{{ form.username.label }} </label>
        <div class="controls">
            {{ form.username }}
        </div>
    </div>
    <div class="control-group fieldWrapper">
        {{ form.email.errors }}
        <label class="control-label" for="id_email">{{ form.email.label }} </label>
        <div class="controls">
            {{ form.email }}
        </div>
    </div>
    <div class="control-group fieldWrapper">
        {{ form.password1.errors }}
        <label class="control-label" for="id_password1">{{ form.password1.label }} </label>
        <div class="controls">
            {{ form.password1 }}
        </div>
    </div>
    <div class="control-group fieldWrapper">
        {{ form.password2.errors }}
        <label class="control-label" for="id_password2">{{ form.password2.label }} </label>
        <div class="controls">
            {{ form.password2 }}
        </div>
    </div>
    <div class="control-group fieldWrapper">
        {{ form.info.errors }}
        <label class="control-label" for="id_info">{{ form.info.label }} </label>
        <div class="controls">
            {{ form.info }}
            {{ form.info.help_text }}
        </div>
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
{% endblock %}
